<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="./css/style.css">

    <title>Vuejs List Adder</title>
</head>

<body>
    <div id="app" class="container-fluid p-3">
        <h3>List Adder <small><small>you have {{names.length}} items in your list.</small></small></h3>
        <input type="text" v-model="current_name">
        <button class="btn btn-success" v-on:click="add()">Add</button>
        <button class="btn btn-danger" v-on:click="clear()">Clear</button><br><br>

        <div :class="[is_ok ? 'alert alert-success' : 'alert alert-danger']" role="alert" v-show="if_clicked">
            "{{selected_name}}" {{is_ok ? 'is added to list.' : 'is not valid!'}}
        </div>

        <hr>
        <ul class="list-group">
            <li v-for="name in names" class="list-group-item">{{name}}</li>
        </ul>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
